.profilePicUploadButton{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    background-color: #8989891A;
    overflow: hidden;
}

.profilePicUploadButton .icon{
    height: 35px;
    width: 35px;
    background: #227F99;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.profilePicUploadButton .icon img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
