@import url(../../../styles/theme.css);
.uiAlert{
    display: flex;
    align-items: center;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    background-color: var(--success);
    color: #fff;
    border: 1px solid var(--success);
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
}

.uiAlert.success{
    background-color: var(--success);
    color: #fff;
    border: 1px solid var(--success);
}

.uiAlert.error{
    background-color: var(--error);
    color: #fff;
    border: 1px solid var(--error);
}

.uiAlert.warning{
    background-color: var(--warning);
    color: #fff;
    border: 1px solid var(--warning);
}

.uiAlert .content{
        padding-left: 5px;
        padding-top: 3px;
    }

.uiAlert .icon{
    min-width: 16px;
}
.uiAlert .close{
    padding-left: 20px;
    cursor: pointer;
}

.errorAlert{
    font-size: 14px;
    border: 1px solid var(--brown);
    box-shadow: none;
    border-radius: 2px;
    font-weight: 600;
    padding: 10px 20px 10px 0;

}
.errorAlert.error{
    background-color: var(--lightYellow);
    color: var(--brown);
}